
<footer>

  <div class="d-flex flex-column justify-content-center align-items-center" id="footertext">

      <span class="fs-3 fw-semibold">Rick and Morty API</span>
      <div class="d-flex m-2 my-4">

        <a class="footeri" href="https://www.linkedin.com/in/miguel-rodriguez-309839252/" style="color: inherit;">
          <i class="fa-brands fa-linkedin fa-2x mx-2"></i>
        </a>

        <a class="footeri" href="https://github.com/MiguelR1" style="color: inherit;">
          <i class="fa-brands fa-github fa-2x mx-2"></i>
        </a>
      </div>

      <span class="fs-6 fw-semibold">By Miguel Rodríguez</span>

  </div>

</footer>
