
<div class="d-flex align-items-center justify-content-center" id="contact">


  <div class="d-flex flex-column" >
    <h2 class="fs-1 mb-3 ctMe">CONTACT ME</h2>

    <div class="flex-row mt-3 ctitem" style="margin-bottom: 15px;">
      <i class="fa-solid fa-square-phone-flip fa-2xl me-3" (click)="copiar('numero')"></i>
      <span class="fs-6 fw-medium">{{numero}}</span>
    </div>

    <div class="flex-row mt-4 ctitem" style="margin-bottom: 15px;">
      <i class="fa-solid fa-envelope-open-text fa-2xl me-3" (click)="copiar('correo')"></i>
      <span class="fs-6 fw-medium">{{correo}}</span>
    </div>

    <div class="flex-row mt-4 ctitem" style="margin-bottom: 80px;">
      <i class="fa-solid fa-location-dot fa-2xl me-3" ></i>
      <span class="fs-6 fw-medium">Caracas, Venezuela.</span>
    </div>
  </div>

</div>
